<template>
    <div style={changeOnClick} onclick={handleClick}>
    <p>Personal Information 
        <lightning-icon style="float:right" icon-name={changeIconOnClick} alternative-text="Utility icon" title="Icon"></lightning-icon>
    </p>
    </div>
    <template if:true={showTable}>
        <p>Table</p>
    </template>
</template>
